[submodule "lib/Esp32_Helper"]
	path = lib/Esp32_Helper
	url = https://github.com/Mecapitronic/ESP32_Helper.git
	branch = main
	ignore = dirty
[submodule "lib/Esp32_Hardware"]
	path = lib/Esp32_Hardware
	url = https://github.com/Mecapitronic/Esp32_Hardware.git
	branch = main
	ignore = dirty
[submodule "lib/Dynamixel2Arduino"]
	path = lib/Dynamixel2Arduino
	url = https://github.com/Mecapitronic/Dynamixel2Arduino.git
	branch = master
	ignore = dirty
